<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/{{ datas.skin }}" />
    <title>Document</title>
  </head>
  <body>
    <h1>index</h1>
    <a href="/add">添加新任务</a>
    <hr />
    <ul>
      <!-- {% for data in datas.tasks %} {% if data.done %}
      <li class="done">[{{ data.id }}] - {{ data.title }}</li>
      {% else %}
      <li class="">[{{ data.id }}] - {{ data.title }}</li>
      {% endif %} {% endfor %} -->

      <!-- {% for data in datas.tasks %} {% set name = data.done ? "done" : "" %} {% if data.done %} {% set name =
      "done" %} {% else %} {% set name = "" %} {% endif %}
      <li class="{{ name }}">[{{ data.id }}] - {{ data.title }}</li>
      {% endfor %} -->

      {% for task in datas.tasks %} {% if task.done %}
      <li class="done">
        <input type="checkbox" onclick="change({{ task.id }})" checked /> [{{ task.id }}] - {{ task.title }}
        <a href="/remove/{{ task.id }}">删除</a>
      </li>

      {% else %}
      <li>
        <input type="checkbox" onclick="change({{ task.id }})" /> [{{ task.id }}] - {{ task.title }}
        <a href="/remove/{{ task.id }}">删除</a>
      </li>

      {% endif %} {% endfor %}
    </ul>
  </body>
  <script>
    function change(id) {
      window.location.href = "/change/" + id;
    }
  </script>
</html>
