<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
      li {
        line-height: 40px;
      }
      .done span {
        color: #cccccc;
        text-decoration: line-through;
      }
      .pages {
        margin: 10px;
      }
      .pages a {
        margin-right: 15px;
      }
      .pages a.active {
        color: red;
      }
      .footer {
        margin: 10px;
      }
      .footer button.active {
        background: yellow;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>app</h1>
      <div><input type="text" v-model="newValue" /> <button @click="add">添加新任务</button></div>
      <hr />
      <ul>
        <li :class="{done: todo.done}" v-for="todo in todos" :key="todo.id">
          <input type="checkbox" :checked="todo.done" @click.prevent="toggle(todo.id, !todo.done)" />
          <span>#{{ todo.id }}-{{ todo.title }}</span>
          <button @click="remove(todo.id)">删除</button>
        </li>
      </ul>
      <div class="pages">
        <a :class="{active:n == page}" @click.prevent="changePage(n)" href="" v-for="n of pages">{{ n }}</a>
      </div>
      <div class="footer">
        <button :class="{active: type === ''}" @click=changeType("")>所有</button>
        <button :class="{active: type === 1}" @click=changeType(1)>已完成</button>
        <button :class="{active: type === 0}" @click=changeType(0)>未完成</button>
      </div>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
        todos: [],
        type: "",
        newValue: "",
        pages: 0,
        page: 1,
        prepage: 4 //设置每页显示几条
      },
      methods: {
        remove(id) {
          fetch("/remove", {
            method: "post",
            headers: {
              "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify({ id })
          })
            .then(res => {
              return res.json();
            })
            .then(data => {
              if (!data.code) {
                this.getData();
              }
            });
        },
        toggle(id, todo) {
          fetch("/toggle", {
            method: "post",
            headers: {
              "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify({ id, todo })
          })
            .then(res => {
              return res.json();
            })
            .then(data => {
              if (!data.code) {
                this.getData();
              }
            });
        },
        changeType(val) {
          this.type = val;
          this.page = 1;
          this.getData();
        },
        changePage(n) {
          this.page = n;
          this.getData();
        },
        add() {
          fetch("/add", {
            method: "post",
            headers: {
              "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify({ title: this.newValue })
          })
            .then(res => {
              return res.json();
            })
            .then(data => {
              console.log(data);
              if (!data.code) {
                this.getData();
                this.newValue = "";
              }
            });
        },
        getData() {
          fetch("/todos?type=" + this.type + "&page=" + this.page + "&prepage=" + this.prepage)
            .then(res => {
              return res.json();
            })
            .then(data => {
              this.todos = data.data.todos;
              this.pages = data.data.pages;
            });
        }
      },
      created() {
        this.getData();
      }
    });
  </script>
</html>
